@model D_Squared.Domain.Entities.Code

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
