@model D_Squared.Web.Models.Labor8020ViewModel
@using D_Squared.Domain.TransferObjects
@section Scripts{
    <script src="~/App_Scripts/Reports/SearchInit.js" type="text/javascript"></script>
}
<style type="text/css">
    dl {
        width: 100%;
        overflow: hidden;
        margin-left: 50px;
        margin-bottom: 0;
        padding: 0
    }

    dt {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        margin: 0;
        padding: 0
    }

    dd {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        margin: 0;
        padding: 0
    }

    tbody {
        text-align: left;
    }

    tfoot {
        font-weight: bold;
        text-align: right;
    }
</style>

<div class="jumbotron" style="background-image: url('/Content/images/lightwood-bg.jpg'); padding-bottom:5px; padding-top:20px; margin-bottom:10px">
    <div class="row">
        <div class="col-md-4">
            <div style="max-width:500px; display: block; margin: 0 auto;float:left;">
                <img src="~/Content/images/millers_d2_logo.png" style="max-width:300px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" style="display: block; margin: 0 auto; max-width:600px">
                <h2>80/20 Report</h2>
                <p class="lead">
                    Location: <strong><u>@Model.EmployeeInfo.StoreNumber</u></strong>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" style="display: block; margin: 0 auto; max-width:400px">
                <p class="lead">
                    Time: @DateTime.Now.ToLocalTime().ToString()
                    <br />
                    Employee: @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @if (Model.CurrentWeekFlag)
            {
                @Html.ActionLink("Previous Week", "PreviousWeek", "LaborReports", new { @actionName = "Labor8020View" }, new { @class = "btn btn-dsquared btn-xs" })
            }
            else
            {
                @Html.ActionLink("Current Week", "Labor8020View", "LaborReports", null, new { @class = "btn btn-dsquared btn-xs" })
            }
        </div>
    </div>
    <div class="col-md-6">
        <a data-toggle="modal" href="#helpModal" class="btn btn-dsquared btn-sm" style="float:right; margin-left: 10px;"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default firstRowPanel">
                    <div class="form-group">
                        <dl>
                            <dt>
                                Business Week
                            </dt>
                            <dd>
                                @Model.BusinessWeekStartDate.ToShortDateString() - @Model.BusinessWeekEndDate.ToShortDateString()
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <hr />

    if (Model.Labor8020List.Count > 0)
    {
        <table id="dtReports" class="table table-striped table-bordered table-responsive">
            <caption class="caption">
                Total Items: @Model.Labor8020List.Count()
                <span style="float: right; margin-right: 5px;"><input name="action:ExportLabor8020ViewCSV" type="submit" value="Export CSV" class="btn btn-success btn-xs" /></span>
            </caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().BusinessDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().PersonnelNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().JobName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().P_8020)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labor8020List.FirstOrDefault().P_8020Manager)
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var result in Model.Labor8020List)
                    {
                        <tr>
                            <td>
                                @result.BusinessDate.ToShortDateString()
                            </td>
                            <td>
                                @result.PersonnelNumber
                            </td>
                            <td>
                                @result.EmployeeName
                            </td>
                            <td>
                                @result.JobName
                            </td>
                            <td>
                                @result.P_8020
                            </td>
                            <td>
                                @result.P_8020Manager
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }
    else
    {
        <p class="text-center">
            <i>No 80/20 data found</i>
        </p>
    }
}

<!--must explicitly define the controller and action and pageHeaderKey. PageHeaderKey can be found in HelpDocument.cs-->
@{Html.RenderAction("ModalDetails", "Home", new { @controller = "LaborReports", @action = "Labor8020View", @pageHeaderKey = "Labor8020View" });}

