<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>

        @model D_Squared.Web.Models.ErrorViewModel

        @if (Model != null)
        {
            <h5>
                @Model.Exception.Message  in @Model.ControllerName
            </h5>

            <h5>
                If this error persists, please contact the IT Service Desk at 407-581-3366 or by clicking on this link: <a href="https://itservice.millersalehouse.com">Submit an IT Support Request</a>
            </h5>
        }

    </hgroup>
    <div class="text-center">
        <h2>Error Details:</h2>
        <p><strong>Error GUID: </strong>@Model.ErrorGuid</p>
        <p><strong>Time Stamp: </strong>@Model.ErrorTimeStamp</p>
        <p><strong>Error Message: </strong>@Model.Exception.Message</p>
    </div>
</body>
</html>

