@model D_Squared.Web.Models.SalesForecastViewModel

<div class="jumbotron" style="background-image: url('/Content/images/lightwood-bg.jpg'); padding-bottom:5px; padding-top:20px; margin-bottom:10px">
    <div style="max-width:500px; display: block; margin: 0 auto;">
        <img src="~/Content/images/millers_d2_logo.png" style="max-width:500px;" />
    </div>
    <div class="text-center" style="display: block; margin: 0 auto; max-width:500px">
        <h2>Sales Forecasts</h2>
        <p class="lead">
            Employee: @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
            <br />
            Entry Time: @Model.AccessTime.ToLocalTime().ToString()
            <br />
            Restaurant: <strong><u>@Model.EmployeeInfo.StoreNumber</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Period Ending: @Model.EndingPeriod.ToShortDateString()
        </p>
    </div>
</div>


@using (Html.BeginForm("Index", "SalesForecast", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EndingPeriod)
    @Html.HiddenFor(model => model.AccessTime)
    @Html.HiddenFor(model => model.EmployeeInfo.StoreNumber)
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
                <caption>
                    <a data-toggle="modal" href="#helpModal" class="btn btn-primary btn-sm" style="float:right; margin-left: 10px;"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    @if (User.IsGeneralManager())
                    {
                        @Html.ActionLink("Reports", "SalesForecastReport", "SalesForecast", null, new { @class = "btn btn-primary btn-sm", @style = "float: right;" })
                    }
                    
                </caption>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().DayOfWeek)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().DateOfEntry)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().PriorYearSales)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().AverageSalesPerMonth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().ForecastAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weekdays.FirstOrDefault().LaborForecast)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Weekdays.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.Weekdays[i].DayOfWeek)
                        @Html.HiddenFor(model => model.Weekdays[i].DateOfEntry)
                        @Html.HiddenFor(model => model.Weekdays[i].PriorYearSales)
                        @Html.HiddenFor(model => model.Weekdays[i].AverageSalesPerMonth)
                        @Html.HiddenFor(model => model.Weekdays[i].LaborForecast)
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Weekdays[i].DayOfWeek)
                            </td>
                            <td>
                                @Model.Weekdays[i].DateOfEntry.ToShortDateString()
                            </td>
                            <td>
                                @Model.Weekdays[i].PriorYearSales.ToString("C0")
                            </td>
                            <td>
                                @Model.Weekdays[i].AverageSalesPerMonth.ToString("C0")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Weekdays[i].ForecastAmount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01" } })
                            </td>
                            <td>
                                @Model.Weekdays[i].LaborForecast.ToString("C0")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Save Changes</a>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Are you sure you want to apply these changes?</h4>
                </div>
                <div class="modal-body text-center" style="font-size:18px">
                    @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName, you are submitting this for Restaurant:
                    <br />
                    <strong style="font-size:32px"><u>@Model.EmployeeInfo.StoreNumber</u></strong>
                    <br />
                    <br />
                    <br />
                    If this is not accurate, please contact the IT Service Desk at <br /> 407-581-3366 or by clicking on this link: <a href="https://itservice.millersalehouse.com/Home/Makeform?BMEID=25DE09B6-CE3D-A520-05BC-551B8C7F4C42">Submit an IT Support Request</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save" name="Index" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<!--must explicitly define the controller and action-->
@{Html.RenderAction("ModalDetails", "Home", new { @controller = "SalesForecast", @action = "Index" });}

<script>
    $(document).on('submit', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.attr('disabled', 'disabled');
        }, 0);
    });
</script>