@model D_Squared.Web.Models.RedbookEntryBaseViewModel

@section Scripts{
    <script src="~/App_Scripts/Redbook/EntryInit.js" type="text/javascript"></script>
}

<div class="jumbotron" style="background-image: url('/Content/images/lightwood-bg.jpg'); padding-bottom:5px; padding-top:20px; margin-bottom:10px">
    <div style="max-width:500px; display: block; margin: 0 auto;">
        <img src="~/Content/images/millers_d2_logo.png" style="max-width:500px;" />
    </div>
    <div class="text-center" style="display: block; margin: 0 auto; max-width:500px">
        <h2>Redbook</h2>
        <p class="lead">
            Employee: @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
            <br />
            Entry Time: @DateTime.Now.ToLocalTime().ToShortDateString()
            <br />
            Restaurant: <strong><u>@Model.SelectedLocation</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
</div>

<hr />

@using (Html.BeginForm("Entry", "Redbook", FormMethod.Post, htmlAttributes: new { @id = "entryForm" }))
{
    @Html.AntiForgeryToken()
    <input id="hiddenRefresh" type="hidden">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default firstRowPanel">
                <div class="panel-heading lead" style="margin-bottom: 0px">
                    Record Selection
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateSelectList, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SelectedDateString, Model.DateSelectList, htmlAttributes: new { @class = "refreshOnChange dateSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.DateSelectList, string.Empty, new { @class = "text-danger" })
                    </div>
                    @if (User.IsGeneralManager())
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationSelectList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.SelectedLocation, Model.LocationSelectList, htmlAttributes: new { @class = "refreshOnChange locationSelect form-control select2-single select2-hidden-accessible" })
                            @Html.ValidationMessageFor(model => model.LocationSelectList, string.Empty, new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.SelectedLocation)
                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationSelectList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.SelectedLocation, Model.LocationSelectList, htmlAttributes: new { @class = "refreshOnChange locationSelect form-control select2-single select2-hidden-accessible", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.LocationSelectList, string.Empty, new { @class = "text-danger" })
                        </div>
                    }
                    

                    <div class="form-group">
                        <input value="View Last Year Redbook" class="btn btn-primary" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default firstRowPanel">
                <div class="panel-heading lead">
                    Sales Forecast Data
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.SalesForecastDTO.ForecastAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SalesForecastDTO.ForecastAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalesForecastDTO.PriorYearSales)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SalesForecastDTO.PriorYearSales)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalesForecastDTO.AverageSalesPerMonth)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SalesForecastDTO.AverageSalesPerMonth)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalesForecastDTO.LaborForecast)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SalesForecastDTO.LaborForecast)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default firstRowPanel">
                <div class="panel-heading lead" style="margin-bottom:0px">
                    Weather Summary
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WeatherSelectListAM, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RedbookEntry.SelectedWeatherAM, Model.WeatherSelectListAM, htmlAttributes: new { @class = "weatherSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.SelectedWeatherAM, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WeatherSelectListPM, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RedbookEntry.SelectedWeatherPM, Model.WeatherSelectListPM, htmlAttributes: new { @class = "weatherSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.SelectedWeatherPM, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default secondRowPanel">
                <div class="panel-heading lead" style="margin-bottom: 0px">
                    Daily Notes
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RedbookEntry.DailyNotes, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.RedbookEntry.DailyNotes, htmlAttributes: new { @class = "form-control", @style = "max-width: inherit; min-height: 150px"})
                        @Html.ValidationMessageFor(model => model.RedbookEntry.DailyNotes, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default secondRowPanel">
                <div class="panel-heading lead" style="margin-bottom:0px;">
                    Events Affecting Sales
                </div>
                <div class="panel-body" style="overflow-y: scroll; height: 225px">
                    @for (int i = 0; i < Model.EventDTOs.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.EventDTOs[i].Event)
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.EventDTOs[i].IsChecked, new { @class = "form-check-input" })
                            <label class="form-check-label" for="RedbookEntryBaseViewModel.EventDTOs[@i].IsChecked">
                                @Model.EventDTOs[i].Event
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default thirdRowPanel">
                <div class="panel-heading lead" style="margin-bottom: 0px">
                    Manager AM Shift
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManagerSelectListAM, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RedbookEntry.ManagerOnDutyAM, Model.ManagerSelectListAM, htmlAttributes: new { @class = "managerSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.ManagerOnDutyAM, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RedbookEntry.ManagerNoteAM, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.RedbookEntry.ManagerNoteAM, htmlAttributes: new { @class = "form-control", @style = "max-width: inherit; min-height: 100px" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.ManagerNoteAM, string.Empty, new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default thirdRowPanel">
                <div class="panel-heading lead" style="margin-bottom: 0px">
                    Manager PM Shift
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManagerSelectListPM, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RedbookEntry.ManagerOnDutyPM, Model.ManagerSelectListPM, htmlAttributes: new { @class = "managerSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.ManagerOnDutyPM, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RedbookEntry.ManagerNotePM, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.RedbookEntry.ManagerNotePM, htmlAttributes: new { @class = "form-control", @style = "max-width: inherit; min-height: 100px" })
                        @Html.ValidationMessageFor(model => model.RedbookEntry.ManagerNotePM, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Save Changes</a>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Are you sure you want to apply these changes?</h4>
                </div>
                <div class="modal-body text-center" style="font-size:18px">
                    @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName, you are submitting this for Restaurant:
                    <br />
                    <strong style="font-size:32px"><u>@Model.SelectedLocation</u></strong>
                    <br />
                    <br />
                    <br />
                    If this is not accurate, please contact the IT Service Desk at <br /> 407-581-3366 or by clicking on this link: <a href="https://itservice.millersalehouse.com/Home/Makeform?BMEID=25DE09B6-CE3D-A520-05BC-551B8C7F4C42">Submit an IT Support Request</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save" name="action:EntrySave" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    </div>
}
