@model D_Squared.Web.Models.SalesReportSearchViewModel
@using D_Squared.Domain.TransferObjects
@section Scripts{
    <script src="~/App_Scripts/LaborReports/SearchInit.js" type="text/javascript"></script>
}
@{ 
    string reportType = Model.SearchDTO.SelectedReportType == SalesDataSearchDTO.ReportByDay ? "Sales Report by Day" : "Sales Report by Week";
}
<style type="text/css">
    dl {
        width: 100%;
        overflow: hidden;
        margin-left: 50px;
        margin-bottom: 0;
        padding: 0
    }

    dt {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        margin: 0;
        padding: 0
    }
    
    dd {
        float: left;
        width: 50%;
        /* adjust the width; make sure the total of both is 100% */
        margin: 0;
        padding: 0
    }
    tbody{
        text-align:right;
    }
    tfoot {
        font-weight: bold;
        text-align: right;
    }
</style>

<div class="jumbotron" style="background-image: url('/Content/images/lightwood-bg.jpg'); padding-bottom:5px; padding-top:20px; margin-bottom:10px">
    <div style="max-width:500px; display: block; margin: 0 auto;">
        <img src="~/Content/images/millers_d2_logo.png" style="max-width:500px;" />
    </div>
    <div class="text-center" style="display: block; margin: 0 auto; max-width:500px">
        <h2>Sales Report View</h2>
        <p class="lead">
            Employee: @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
            <br />
            Location: @Model.EmployeeInfo.StoreNumber
            <br />
            Access Time: @DateTime.Now.ToLocalTime().ToString()
            <br />
        </p>
    </div>
</div>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LocationSelectList, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SearchDTO.SelectedLocation, Model.LocationSelectList, htmlAttributes: new { @class = "locationSelect form-control select2-single select2-hidden-accessible" })
                        @Html.ValidationMessageFor(model => model.SearchDTO.SelectedLocation, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SearchDTO.SelectedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group col-md-8">
                            @Html.EditorFor(model => model.SearchDTO.SelectedDate, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                            @*@Html.TextBoxFor(m => m.SearchDTO.SelectedDate, new { @Value = Model.SearchDTO.SelectedDate.ToString("MM-dd-yyyy"), @class= "form-control datepicker" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="input-group col-md-8 col-md-offset-6">
                            @Html.RadioButtonFor(m => m.SearchDTO.SelectedReportType, SalesDataSearchDTO.ReportByDay)&nbsp;&nbsp;<span><strong>By Date</strong></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButtonFor(m => m.SearchDTO.SelectedReportType, SalesDataSearchDTO.ReportByWeek)&nbsp;&nbsp;<span><strong>By Week</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @if (Model.SearchDTO.SelectedReportType == SalesDataSearchDTO.ReportByWeek)
                {
                <div class="panel panel-default firstRowPanel">
                    <div class="form-group">
                        <dl>
                            <dt>
                                Business Week
                            </dt>
                            <dd>
                                @Model.BusinessWeekStartDate.ToShortDateString() - @Model.BusinessWeekEndDate.ToShortDateString()
                            </dd>
                        </dl>
                    </div>
                </div>
                }
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input name="action:Search" type="submit" value="Search" class="btn btn-dsquared" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="row" style="text-align:center">
            <h3>@reportType</h3>
        </div>
    </div>
    <hr />

    if (Model.SearchResults.Count > 0)
    {
    <table id="dtOvertime" class="table table-striped table-bordered table-responsive">
        <caption class="caption"> 
            Total Items: @Model.SearchResults.Count()
        </caption>
        <thead>
            <tr>
                <th>
                    Business Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().FoodSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().NonAlcBevSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().BeerBottleSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().BeerDraftSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().LiquorSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().RetailSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().WineSales)
                </th>
                <th>
                    Total Sales
                </th>
                <th>
                    Discount/Comp Amount
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().AdjustmentSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().TaxAmount)
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var result in Model.SearchResults)
                {
                    <tr>
                        <td>
                            @result.DateOfEntry.ToShortDateString()
                        </td>
                        <td>
                            @result.FoodSales.ToString("C2")
                        </td>
                        <td>
                            @result.NonAlcBevSales.ToString("C2")
                        </td>
                        <td>
                            @result.BeerBottleSales.ToString("C2")
                        </td>
                        <td>
                            @result.BeerDraftSales.ToString("C2")
                        </td>
                        <td>
                            @result.LiquorSales.ToString("C2")
                        </td>
                        <td>
                            @result.RetailSales.ToString("C2")
                        </td>
                        <td>
                            @result.WineSales.ToString("C2")
                        </td>
                        <td>
                            @result.Sales.ToString("C2")
                        </td>
                        <td>
                            @result.Discounts.ToString("C2")
                        </td>
                        <td>
                            @result.AdjustmentSales.ToString("C2")
                        </td>
                        <td>
                            @result.TaxAmount.ToString("C2")
                        </td>
                    </tr>
                }
            }

        </tbody>
        <tfoot>
        @{
            <tr>
                <td>
                    Total
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.FoodSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.NonAlcBevSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.BeerBottleSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.BeerDraftSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.LiquorSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.RetailSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.WineSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.Sales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.Discounts).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.AdjustmentSales).ToString("C2")
                </td>
                <td>
                    @Model.SearchResults.Sum(sd => sd.TaxAmount).ToString("C2")
                </td>
            </tr>
        }
        <tfoot>
    </table>
    }
    else
    {
        <p class="text-center">
            <i>No Sales data found</i>
        </p>
    }
}

